<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="~/static/expense-tracker-icon.svg">
    <title>@ViewData["Title"] | Expense Tracker</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="~/dist/css/tabler.min.css"  asp-append-version="true"/>
    
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
    
    @await RenderSectionAsync("Styles", false)
  </head>
  <body class="antialiased">
   @RenderBody()
    <!-- Libs JS -->
  <script src="~/dist/js/tabler.min.js" asp-append-version="true"></script>
  <!--    Section Scripts-->
   @await Component.InvokeAsync("Notyf")

  @await RenderSectionAsync("Scripts", false)
  
  @await RenderSectionAsync("_ValidationScriptsPartial",false)

  </body>
</html>