@model ExpenseTracker.Web.ViewModels.Workspace.WorkspaceIndexViewModel

@{
    ViewBag.Title = "Workspace";
    Layout = "_Layout";
}

@section PageTitle
{
     <p> this is a page title that is used to  declare the title of a page.</p>
}

<h1> this is a content seciton of workspace</h1>
