@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Expense Tracker</h1>
    <p>Record your expense and income and know how much you are spending and saving easily.</p>
</div>