<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="connection.driver_class">
                NHibernate.Driver.MySqlDataDriver
            </property>
            <property name="dialect">NHibernate.Dialect.MySQL55InnoDBDialect</property>
            <property name="connection.connection_string">Server=127.0.0.1;Database=expense_tracker;Uid=root;ConnectionReset=True;Sslmode=none;</property>
            <property name="show_sql">false</property>
            <property name="generate_statistics">true</property>
            <!-- Here -->
        </session-factory>
    </hibernate-configuration>
    <system.transactions>
        <machineSettings maxTimeout="00:00:60" />
    </system.transactions>
</configuration>