name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore "./src/ExpenseTracker.Web"
    - name: Build
      run: dotnet build "./src/ExpenseTracker.Web" --configuration Release --no-restore
    - name: Run Unit tests 
      run: dotnet test "./tests/ExpenseTracker.UnitTests" --no-restore --verbosity normal
    - name: Publish application
      run: dotnet publish "./src/ExpenseTracker.Web" -c Release -o "./src/ExpenseTracker.Web/publish"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
       name: my-artifact
       path: "./src/ExpenseTracker.Web/publish" 
